body {
    background-color: #efbc13;
    color: #e0c709;
}

h1, h2, h3 {
    color: #F44336;
}

.stButton>button {
    background-color: #FF9800;
    color: white;
    border-radius: 8px;
    padding: 0.5em 1em;
}

.stTabs [data-baseweb="tab"] {
    background-color: #FFE0B2;
    color: #333333;
}
